@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}

/* Hide scrollbar for IE, Edge, and Opera */
*::-webkit-scrollbar {
  display: none;
}

body {
    font-family: 'lato', sans-serif;
  }
  .container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
  }
  h2 small {
    font-size: 0.5em;
  }
  .responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .responsive-table .table-header {
    background-color: rgba(160, 200, 250, 0.5);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .responsive-table .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
  .responsive-table .col-1 {
    flex-basis: 10%;
  }
  .responsive-table .col-2 {
    flex-basis: 25%;
  }
  .responsive-table .col-3 {
    flex-basis: 35%;
  }
  .responsive-table .col-4 {
    flex-basis: 8%; 
  }
  .responsive-table .col-5 {
    flex-basis: 23%; 
  }
  @media (max-width: 767px) {
    .responsive-table .table-header {
      display: none;
    }
    .responsive-table li {
      display: block;
    }
    .responsive-table .col {
      flex-basis: 100%;
    }
    .responsive-table .col {
      display: flex;
      padding: 10px 0;
    }
    .responsive-table .col:before {
      color: #6C7A89;
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: right;
    }
  }
  
  p {
    font-family: Lato;
  }
  
  .swal2-styled.swal2-cancel {
    background:blue !important
  }

  .modifButton {
    border: none;
    background-color: transparent;
    outline: none;
	  width: 10%;
    color: rgb(101, 161, 85);
    margin-left: 0px; 
 }
.modifButton:focus {
    border: none;
}



@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

/* Base styling */


.search__container {
  padding-top: 10px;
  width: 25%;
  margin-left: 20px;
}

.search__input {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.search__input::placeholder {
  color: color(#575657 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.search__input:hover, .search__input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}


.table-row.zoom:hover {
  transform: scale(1.10); 
}

buttonDel {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.input-container {
	display: flex;
	align-items: center;
  justify-content: space-between;
  }




  .cardo {
    padding: 10px;
    width: 1240px;
    background: rgba(255, 255, 255, 0.05);
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    
    backdrop-filter: blur(10px);
    border: 1px solid rgba(160, 200, 250, 0.5);
    box-shadow: 0 0 15px  rgba(160, 200, 250, 0.5);
  }
  
  
   .cardo h2 {
    color: #333;
    }





/*
    .buttonCandidat {
      margin: 0;
      height: auto;
      background: transparent;
      padding: 0;
      border: none;
    }
    
  */
    .buttonCandidat {
      font-family: monospace;
      background-color: #f3f7fe;
      color: #3b82f6;
      border: none;
      border-radius: 8px;
      width: 100px;
      height: 45px;
      transition: .3s;
    }
    
    .buttonCandidat:hover {
      background-color: #3b82f6;
      box-shadow: 0 0 0 5px #3b83f65f;
      color: #fff;
    }
    
    







   


/***************switch button***************/




 


.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px; 
  overflow: hidden;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #fcebeb;
  transition: 0.3s ease all;
  z-index: 1;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
  height: 29px;

}

#button-3 .knobs:before {
  content: "OFF";
  position: absolute;
  top: 3px;
  left: 4px;
  width: 24px;
  height: 23px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #f44336;
  border-radius: 50%;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#button-3 .checkbox:active + .knobs:before {
  width: 46px;
  border-radius: 100px;
}

#button-3 .checkbox:checked:active + .knobs:before {
  margin-left: -26px;
}

#button-3 .checkbox:checked + .knobs:before {
  content: "ON";
  left: 42px;
  background-color: #03a9f4;
}

#button-3 .checkbox:checked ~ .layer {
  background-color: #ebf7fc;
  height: 29px;
}


/* styles.css or your.component.css */
.containerapp {
  display: flex;
  justify-content: 50px; 
}
