<!--
<div class="card-container">
<div class="cardo">
<ngx-charts-pie-chart
  class="donut-chart"
  [results]="single"
  [view]="[200, 200]"
  [doughnut]="true"    
  [gradient]="true"
    [explodeSlices]="false"
  
></ngx-charts-pie-chart>
</div></div>

-->
<div class="card-container">
  <div class="cardo2">
<!-- counter.component.html -->
 <div class="containertotjob" >
  <div id="counting-number"  >
    
  <p style="color: #170a5a; ">Total des offres d'emploi</p>
    <span style="font-size: 30px; font-weight: 600 px;"> <strong> {{ currentJobOffersCount }} </strong> </span>
    
  </div> 

  <div>
    <i class="fa-solid fa-suitcase" style=" font-size: 70px; margin-left: 30px; color: rgb(7, 7, 84);"></i>
  </div>

</div>

</div>
</div>

<div class="card-container2">
  <div class="cardo2">
    <!-- counter.component.html -->
    <div class="containertotjob">
      <div id="counting-number">

        <p style="color: #170a5a; ">Nombre total des candidats</p>
        <span style="font-size: 30px; font-weight: 600 px;"> <strong> {{ currentCandidatesCount }} </strong> </span>

      </div>

      <div>
        <i class="bi bi-people-fill" style=" font-size: 50px; margin-left: 30px; color: rgb(7, 7, 84);"></i>
      </div>

    </div>

  </div>
</div>


