 
<footer class="footer">
    <div class="footer-content">
      <div class="left-content">
        <p>2023 &copy; All Rights Reserved</p>
      </div>
      <div class="right-content">
        <div class="follow-us">
            <p>Suivez nous sur:</p>
            <div class="social-icons">
              <a href="https://www.facebook.com/esprit.tn"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.instagram.com/esprit_ingenieur/"><i class="fab fa-instagram"></i></a>
              <a href="https://twitter.com/i/flow/login?redirect_after_login=%2FEsprit_News"><i class="fab fa-twitter"></i></a>
              <a href="https://www.youtube.com/channel/UCJ5wuQ9AQYtpf9Arieu3iXA"><i class="fab fa-youtube"></i></a>
              <a href="https://www.linkedin.com/company/esprit_2"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
      </div>
    </div>
</footer>
  
  