body {
    font-family: 'lato', sans-serif;
  }
  .container {
    width: 1245px;

  }
  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
  }
  h2 small {
    font-size: 0.5em;
  }

  
.search__container {
  display: flex;
  justify-content: flex-end;
  width: 25%;
  margin-left: 5px;
  margin-right: 800px;
  
}

.search__input {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.search__input::placeholder {
  color: color(#575657 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.search__input:hover, .search__input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}

  .responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    
  }
  .responsive-table .table-header {
    background-color: rgba(160, 200, 250, 0.5);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #000000;
  }
  .responsive-table .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
   
    
  }
  .responsive-table .col-1 {
    flex-basis: 10%;
  }
  .responsive-table .col-2 {
    flex-basis: 40%;
  }
  .responsive-table .col-3 {
    flex-basis: 25%;
  }
  .responsive-table .col-4 {
    flex-basis: 25%;
  }
  .responsive-table .col-5 {
    flex-basis: 18%;
  }
  @media (max-width: 767px) {
    .responsive-table .table-header {
      display: none;
    }
    .responsive-table li {
      display: block;
    }
    .responsive-table .col {
      flex-basis: 100%;
    }
    .responsive-table .col {
      display: flex;
      padding: 10px 0;
    }
    .responsive-table .col:before {
      color: #6C7A89;
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: right;
    }
  }
  

  .modifButton {
    border: none;
    background-color: transparent;
    outline: none;
	  width: 10%;
    color: rgb(42, 150, 15);
    margin-left:1.25em;
}
.modifButton:focus {
    border: none;
}

/******** b utoon******/
.buttonadd {
  background: #ffffffe2;
  border: none;
  padding: 8px 10px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  width: 85px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
  
}

span {
  display: inline-block;
  transform: skew(21deg);
}

.buttonadd::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: rgb(178, 207, 241);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}



.buttonadd:hover {
  color: #26a8f3;
}

.buttonadd:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}
/******** delete  utoon******/
.buttonDel{
  background: #ffffffe2;
  border: none;
  padding: 8px 10px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  width: 85px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
  
}

span {
  display: inline-block;
  transform: skew(21deg);
}

.buttonDel::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: rgb(239, 198, 244);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}



.buttonDel:hover {
  color: #26f348;
}

.buttonDel:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}
 
/****************cube*******************/
.right-side-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px; /* Set the desired height of the container */
  padding-right: 10px;
  padding-top: 10px;
   margin-top: 60px;
  
}


.cube {
  position: relative;
  height: 100px;
  width: 100px;
  transform-style: preserve-3d;
  animation: animate 4s linear infinite;
  
}

@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.cube .div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.cube .div .span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotateY(calc(90deg * var(--i))) translateZ(50px);
  background-image: linear-gradient(
    -45deg,
    #646060,
    #131e3f,
    #0d1729,
    #6a6a8d);
  background-size: 1200% 1200%;
  animation: AnimationName 30s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}

.cube .div .span p {
  position: absolute;
  font-size: 1em;
  color: white;
  transform: translateZ(20px);
}

.cube .div .span p:nth-child(1) {
  transform: translateZ(0) translateY(20px);
  color: rgba(0,0,0,0.1);
  filter: blur(2px);
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background-image: linear-gradient(
    -45deg,
    #000000,
    #13273f,
    #0d1729,
    #6a6a8d);
  transform: rotateX(90deg) translateZ(50px);
  background-size: 1200% 1200%;
  animation: AnimationName 30s ease infinite;
}

.top::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;

  background-size: 1200% 1200%;
  animation: AnimationName 30s ease infinite;

  transform: translateZ(-200px);
  filter: blur(40px);
}

@keyframes AnimationName2 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}







.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px 8px 16px;
  gap: 8px;
  height: 40px;
  width: 128px;
  border: none;
  background: #056bfa27;
  border-radius: 20px;
  cursor: pointer;
}

.lable {
  margin-top: 1px;
  font-size: 19px;
  line-height: 22px;
  color: #056DFA;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.button:hover {
  background: #056bfa49;
}

.button:hover .svg-icon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-8deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(8deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.cardo {
	padding: 20px;
	background: rgba(255, 255, 255, 0.05);
	margin-top: 50px;
	margin-bottom: 20px;
	border-radius: 15px;
	
	backdrop-filter: blur(10px);
	border: 1px solid rgba(160, 200, 250, 0.5);
	box-shadow: 0 0 15px  rgba(160, 200, 250, 0.5);
}


 .cardo h2 {
	color: #333;
  }