

<div class="container">

  <div class="cardo">

    <h2 class="heading">Pourcentage d'offres par entreprise</h2>
  <ngx-charts-bar-vertical 
    [view]="[850, 400]"
    [results]="data"
    [xAxisLabel]="'Companies'"
    [legendTitle]="'Companies Chart'"
    [yAxisLabel]="'Percentage'"
    [legend]="false"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [gradient]="true"
    [scheme]="colorScheme"
    class="custom-bar-chart"
  >
  </ngx-charts-bar-vertical>

  </div>
  
</div>

  
  

  
    
  